<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/news_db</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="news.model.AfishaEntity"/>
        <mapping class="news.model.ArticleEntity"/>
        <mapping class="news.model.ArticleTagEntity"/>
        <mapping class="news.model.AttachmentEntity"/>
        <mapping class="news.model.CategoryEntity"/>
        <mapping class="news.model.CommentEntity"/>
        <mapping class="news.model.GroupEntity"/>
        <mapping class="news.model.ImageEntity"/>
        <mapping class="news.model.MailingEntity"/>
        <mapping class="news.model.SourceEntity"/>
        <mapping class="news.model.TagEntity"/>
        <mapping class="news.model.UserEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>